name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - develop
      - release/**
      - 'feature/**'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  determine-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.set-env.outputs.environment }}
    steps:
      - name: Determine environment
        id: set-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "environment=prod" >> $GITHUB_OUTPUT
            elif [[ "${{ github.ref }}" == "refs/heads/release" ]] || [[ "${{ github.ref }}" == refs/heads/release/* ]]; then
            echo "environment=test" >> $GITHUB_OUTPUT
            elif [[ "${{ github.ref }}" == "refs/heads/develop" ]] || [[ "${{ github.ref }}" == refs/heads/feature/* ]]; then
            echo "environment=dev" >> $GITHUB_OUTPUT
          else
            echo "environment=dev" >> $GITHUB_OUTPUT
          fi

  build-and-deploy:
    needs: determine-environment
    runs-on: ubuntu-latest
    environment: ${{ needs.determine-environment.outputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update config.json
        env:
          ENV_VALUE: ${{ vars.ENV }}
          SECRET_VALUE: ${{ secrets.SECRET_KEY }}
        run: |
          cat > config.json << EOF
          {
            "env": "$ENV_VALUE",
            "secretVariable": "$SECRET_VALUE"
          }
          EOF
          cat config.json

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
      - name: Rename index.html based on environment
        run: |
          if [ "${{ needs.determine-environment.outputs.environment }}" = "prod" ]; then
            mv index.html prod.html
          elif [ "${{ needs.determine-environment.outputs.environment }}" = "test" ]; then
            mv index.html test.html
          else
            mv index.html dev.html
          fi
          ls -l
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
