name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - develop
      - release/**
      - 'feature/**'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  determine-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.set-env.outputs.environment }}
    steps:
      - name: Determine environment
        id: set-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "environment=prod" >> $GITHUB_OUTPUT
            elif [[ "${{ github.ref }}" == "refs/heads/release" ]] || [[ "${{ github.ref }}" == refs/heads/release/* ]]; then
            echo "environment=test" >> $GITHUB_OUTPUT
            elif [[ "${{ github.ref }}" == "refs/heads/develop" ]] || [[ "${{ github.ref }}" == refs/heads/feature/* ]]; then
            echo "environment=dev" >> $GITHUB_OUTPUT
          else
            echo "environment=dev" >> $GITHUB_OUTPUT
          fi

  build-and-deploy:
    needs: determine-environment
    runs-on: ubuntu-latest
    environment: ${{ needs.determine-environment.outputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update config.json
        env:
          ENV_VALUE: ${{ vars.ENV }}
          SECRET_VALUE: ${{ secrets.SECRET_KEY }}
        run: |
          cat > config.json << EOF
          {
            "env": "$ENV_VALUE",
            "secretVariable": "$SECRET_VALUE"
          }
          EOF
          cat config.json

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for GitHub integrations (auto)
          action: "upload"
          app_location: "."
          output_location: "."
          skip_app_build: true
          skip_api_build: true
          env: ${{ needs.determine-environment.outputs.environment }}
          # Use environment-specific app name
          static_web_app_name: github-env-demo-${{ needs.determine-environment.outputs.environment }}

      - name: Print page URL
        run: echo "Page URL=${{ steps.deployment.outputs.page_url }}"
